gunicorn==19.1.1
Cheetah==2.4.4
Flask==0.10.1
Flask-HTTPAuth==3.2.1
Jinja2==2.7.2
MarkupSafe==0.18
PyYAML==3.10
SQLAlchemy==0.8.4
SecretStorage==2.0.0
Werkzeug==0.9.4
oauth==1.0.1
oauth2client==4.0.0
psycopg2==2.4.5
redis==2.10.5
requests==2.2.1
simplejson==3.3.1
urllib3==1.7.1
wsgiref==0.1.2

